In [1]:
import tensorflow

In [2]:
import pandas as pd

In [3]:
weather_meter=pd.read_csv("GlobalLandTemperaturesByCity.csv")

In [4]:
bangalore=weather_meter[weather_meter["City"]=="Bangalore"]

In [5]:
temp=bangalore.iloc[:,0:2]

In [6]:
temp

                dt  AverageTemperature
630113  1796-01-01              22.672
630114  1796-02-01              24.420
630115  1796-03-01              26.092
630116  1796-04-01              27.687
630117  1796-05-01              27.619
630118  1796-06-01              25.204
630119  1796-07-01              23.825
630120  1796-08-01              24.217
630121  1796-09-01              24.554
630122  1796-10-01              23.766
630123  1796-11-01              22.708
630124  1796-12-01              21.100
630125  1797-01-01                 NaN
630126  1797-02-01                 NaN
630127  1797-03-01              26.766
630128  1797-04-01              27.448
630129  1797-05-01              27.554
630130  1797-06-01              26.768
630131  1797-07-01              24.588
630132  1797-08-01              25.492
630133  1797-09-01              24.756
630134  1797-10-01              23.577
630135  1797-11-01              22.638
630136  1797-12-01              22.232
630137  1798-01-01              22.672
630138  1798-02-01              25.118
630139  1798-03-01              27.381
630140  1798-04-01                 NaN
630141  1798-05-01                 NaN
630142  1798-06-01              26.405
...            ...                 ...
632696  2011-04-01              27.662
632697  2011-05-01              28.025
632698  2011-06-01              25.922
632699  2011-07-01              25.057
632700  2011-08-01              24.869
632701  2011-09-01              25.484
632702  2011-10-01              25.322
632703  2011-11-01              23.964
632704  2011-12-01              23.001
632705  2012-01-01              23.408
632706  2012-02-01              25.513
632707  2012-03-01              28.116
632708  2012-04-01              28.699
632709  2012-05-01              28.447
632710  2012-06-01              26.912
632711  2012-07-01              26.003
632712  2012-08-01              25.542
632713  2012-09-01              25.976
632714  2012-10-01              25.410
632715  2012-11-01              24.601
632716  2012-12-01              23.881
632717  2013-01-01              24.168
632718  2013-02-01              25.798
632719  2013-03-01              28.057
632720  2013-04-01              29.593
632721  2013-05-01              29.189
632722  2013-06-01              25.835
632723  2013-07-01              25.008
632724  2013-08-01              25.236
632725  2013-09-01                 NaN

[2613 rows x 2 columns]

In [7]:
mahabangalore=bangalore.append(bang,ignore_index=True)

NameError: name 'bang' is not defined

In [15]:
bang=pd.read_csv("banger.csv")

CParserError: Error tokenizing data. C error: Expected 5 fields in line 15, saw 8

In [12]:
bang.head()

      T Local time in Bangalore
0  18.6        11.11.2017 23:30
1  19.8        11.11.2017 20:30
2  22.8        11.11.2017 17:30
3  24.2        11.11.2017 14:30
4  23.4        11.11.2017 11:30

In [ ]:
bang.columns=("AverageTemperature","dt")

In [ ]:
def cut(row):
    row=row[3:]
    return row

In [ ]:
bang["dt"]=bang["dt"].apply(cut)

In [ ]:
bang["dt"]

In [ ]:
z=pd.pivot_table(bang,index="dt",aggfunc='mean')

In [ ]:
z

In [ ]:
def prime(row):
    row=pd.to_datetime(row)
    return row

In [8]:
z=pd.DataFrame(z)

NameError: name 'z' is not defined

In [9]:
aa=z.iloc[:,:0]

NameError: name 'z' is not defined

In [196]:
aaa=z.append(aa)

TypeError: append() got an unexpected keyword argument 'axis'

In [168]:
z["dt"]=z["dt"].apply(prime)

KeyError: 'dt'

In [208]:
k=range(1,50)

In [209]:
k[-1]

49

In [213]:
z["dt"]=z.index

In [216]:
type(z["dt"][0])

str

In [217]:
def prime(row):
    row=pd.to_datetime(row)
    return row

In [218]:
z["dt"]=z["dt"].apply(prime)

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1-01-01 00:00:00

In [234]:
m

          AverageTemperature        dt
dt
01.2014            21.514113  01.2014
01.2015            21.391129  01.2015
01.2016            21.681855  01.2016
01.2017            21.805668  01.2017
02.2014            23.830357  02.2014
02.2015            23.458482  02.2015
02.2016            24.604505  02.2016
02.2017            23.834821  02.2017
03.2014            26.067742  03.2014
03.2015            25.953659  03.2015
03.2016            27.338367  03.2016
03.2017            27.015323  03.2017
04.2014            28.390000  04.2014
04.2015            26.037500  04.2015
04.2016            29.628452  04.2016
04.2017            28.413750  04.2017
05.2014            27.087903  05.2014
05.2015            25.617143  05.2015
05.2016            27.102834  05.2016
05.2017            26.850000  05.2017
06.2014            25.364435  06.2014
06.2015            24.138075  06.2015
06.2016            23.608824  06.2016
06.2017            24.453390  06.2017
07.2014            23.356098  07.2014
07.2015            23.858871  07.2015
07.2016            23.113360  07.2016
07.2017            23.973984  07.2017
08.2014            23.345749  08.2014
08.2015            23.779435  08.2015
08.2016            23.425806  08.2016
08.2017            23.754472  08.2017
09.2014            23.774167  09.2014
09.2015            23.980833  09.2015
09.2016            23.314407  09.2016
09.2017            23.606667  09.2017
10.2014            23.276613  10.2014
10.2015            24.508130  10.2015
10.2016            24.476113  10.2016
10.2017            23.646341  10.2017
11.2013            22.111258  11.2013
11.2014            21.974583  11.2014
11.2015            21.537083  11.2015
11.2016            23.494958  11.2016
11.2017            22.065909  11.2017
12.2013            20.841129  12.2013
12.2014            21.851613  12.2014
12.2015            22.081048  12.2015
12.2016            21.502439  12.2016

In [240]:
def psci(row):
    d=row[:2]
    row=row[3:]
    row=row+d
    return row

In [241]:
z["dt"]=z["dt"].apply(psci)

In [242]:
z["dt"]

dt
01.2014     2014 01
01.2015     2015 01
01.2016     2016 01
01.2017     2017 01
02.2014     2014 02
02.2015     2015 02
02.2016     2016 02
02.2017     2017 02
03.2014     2014 03
03.2015     2015 03
03.2016     2016 03
03.2017     2017 03
04.2014     2014 04
04.2015     2015 04
04.2016     2016 04
04.2017     2017 04
05.2014     2014 05
05.2015     2015 05
05.2016     2016 05
05.2017     2017 05
06.2014     2014 06
06.2015     2015 06
06.2016     2016 06
06.2017     2017 06
07.2014     2014 07
07.2015     2015 07
07.2016     2016 07
07.2017     2017 07
08.2014     2014 08
08.2015     2015 08
08.2016     2016 08
08.2017     2017 08
09.2014     2014 09
09.2015     2015 09
09.2016     2016 09
09.2017     2017 09
10.2014     2014 10
10.2015     2015 10
10.2016     2016 10
10.2017     2017 10
11.2013     2013 11
11.2014     2014 11
11.2015     2015 11
11.2016     2016 11
11.2017     2017 11
12.2013     2013 12
12.2014     2014 12
12.2015     2015 12
12.2016     2016 12
Name: dt, dtype: object

In [248]:
def pi(row):
    row=row.replace(" ","")
    return row

In [250]:
z["dt"]=z["dt"].apply(pi)

In [251]:
def pis(row):
    row=int(row)
    return row

In [252]:
z["dt"]=z["dt"].apply(pis)

In [253]:
z["dt"]

dt
01.2014     201401
01.2015     201501
01.2016     201601
01.2017     201701
02.2014     201402
02.2015     201502
02.2016     201602
02.2017     201702
03.2014     201403
03.2015     201503
03.2016     201603
03.2017     201703
04.2014     201404
04.2015     201504
04.2016     201604
04.2017     201704
05.2014     201405
05.2015     201505
05.2016     201605
05.2017     201705
06.2014     201406
06.2015     201506
06.2016     201606
06.2017     201706
07.2014     201407
07.2015     201507
07.2016     201607
07.2017     201707
08.2014     201408
08.2015     201508
08.2016     201608
08.2017     201708
09.2014     201409
09.2015     201509
09.2016     201609
09.2017     201709
10.2014     201410
10.2015     201510
10.2016     201610
10.2017     201710
11.2013     201311
11.2014     201411
11.2015     201511
11.2016     201611
11.2017     201711
12.2013     201312
12.2014     201412
12.2015     201512
12.2016     201612
Name: dt, dtype: int64

In [257]:
b=z.sort(columns="dt")

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  """Entry point for launching an IPython kernel.

In [259]:
b["AverageTemperature"]

dt
11.2013     22.111258
12.2013     20.841129
01.2014     21.514113
02.2014     23.830357
03.2014     26.067742
04.2014     28.390000
05.2014     27.087903
06.2014     25.364435
07.2014     23.356098
08.2014     23.345749
09.2014     23.774167
10.2014     23.276613
11.2014     21.974583
12.2014     21.851613
01.2015     21.391129
02.2015     23.458482
03.2015     25.953659
04.2015     26.037500
05.2015     25.617143
06.2015     24.138075
07.2015     23.858871
08.2015     23.779435
09.2015     23.980833
10.2015     24.508130
11.2015     21.537083
12.2015     22.081048
01.2016     21.681855
02.2016     24.604505
03.2016     27.338367
04.2016     29.628452
05.2016     27.102834
06.2016     23.608824
07.2016     23.113360
08.2016     23.425806
09.2016     23.314407
10.2016     24.476113
11.2016     23.494958
12.2016     21.502439
01.2017     21.805668
02.2017     23.834821
03.2017     27.015323
04.2017     28.413750
05.2017     26.850000
06.2017     24.453390
07.2017     23.973984
08.2017     23.754472
09.2017     23.606667
10.2017     23.646341
11.2017     22.065909
Name: AverageTemperature, dtype: float64

In [260]:
b

          AverageTemperature      dt
dt
11.2013            22.111258  201311
12.2013            20.841129  201312
01.2014            21.514113  201401
02.2014            23.830357  201402
03.2014            26.067742  201403
04.2014            28.390000  201404
05.2014            27.087903  201405
06.2014            25.364435  201406
07.2014            23.356098  201407
08.2014            23.345749  201408
09.2014            23.774167  201409
10.2014            23.276613  201410
11.2014            21.974583  201411
12.2014            21.851613  201412
01.2015            21.391129  201501
02.2015            23.458482  201502
03.2015            25.953659  201503
04.2015            26.037500  201504
05.2015            25.617143  201505
06.2015            24.138075  201506
07.2015            23.858871  201507
08.2015            23.779435  201508
09.2015            23.980833  201509
10.2015            24.508130  201510
11.2015            21.537083  201511
12.2015            22.081048  201512
01.2016            21.681855  201601
02.2016            24.604505  201602
03.2016            27.338367  201603
04.2016            29.628452  201604
05.2016            27.102834  201605
06.2016            23.608824  201606
07.2016            23.113360  201607
08.2016            23.425806  201608
09.2016            23.314407  201609
10.2016            24.476113  201610
11.2016            23.494958  201611
12.2016            21.502439  201612
01.2017            21.805668  201701
02.2017            23.834821  201702
03.2017            27.015323  201703
04.2017            28.413750  201704
05.2017            26.850000  201705
06.2017            24.453390  201706
07.2017            23.973984  201707
08.2017            23.754472  201708
09.2017            23.606667  201709
10.2017            23.646341  201710
11.2017            22.065909  201711

In [271]:
final=temp.append(b,ignore_index=True)

In [273]:
final.to_csv("temperature.csv")